.carousel-inner > .item > img {
    margin: 0 auto;
}


  .typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
  }

  .typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
  }

  .typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

@media (max-width: 480px) {
    .mine{
    font-size:16px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .mine{
    font-size:20px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .mine{
    font-size:26px;
    }
}

@media (min-width: 980px) {
  .mine{
  font-size:30px;
  }
}






/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		position: relative;
	}
	
	
	

}


/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
	 border: 1px solid #ccc; 
  width: 100%; 
  border-collapse: collapse; 
}
tr { 
	 border: 1px solid #ccc; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
}